body {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: rgb(218, 255, 249);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(/css/Body\ background.jpg);
}
.card {
    background-image: url(image041.jpg);
    background-size: cover;
    height: 125px;
    width: 90px;
    border: rgb(136, 136, 136) solid 1px;
    border-radius: 9px;
    margin: 4px;
    box-shadow: 3px 2px 3px;
}
.playerHiddenCards {
    position: absolute;
    
    display: inline-flex;
    align-items: center;
    bottom: 22%;
    cursor: pointer;
    
}

.enemyHiddenCards {
    position: absolute;
    
    display: inline-flex;
    align-items: center;
    top: 22%;
    
    
    
}
.playersHandCards {
    position: absolute;
    display: inline-flex;
    bottom: 5%;
    
    
}
.cardsOnTable {
    display: flex;
    position: relative;
   
    justify-content: center;
    height: 100vh;
    width: 70%;
   
    
}
.enemyHandCards {
    position: absolute;
    display: inline-flex;
    top: 5%;
}
.cardsPlace {


position: absolute;
top: 42%;

border-radius: 4px;
/* border: rgba(11, 126, 30, 0.644) solid 1px; */

height: 125px;
width: 90px;
    
border-radius: 4px;


    
box-shadow: 4px 4px 8px;
cursor: pointer;
}
.deck {
    background-image: url(image041.jpg);
    background-size: cover;
    position: absolute;
    right: 0;
    top: 42%;
    height: 125px;
    width: 90px;
    border: rgb(136, 136, 136) solid 1px;
    border-radius: 9px;
    margin: 4px;
    box-shadow: 5px 2px 2px;

}
.cardCounter {
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
    font-size: 2rem;
    position: absolute;
    right: 35px;
    top: 38%;
}
.cardflipped {
    
    border: rgb(136, 136, 136) solid 1px;
    border-radius: 4px;
    height: 125px;
    width: 90px;
    margin: 4px;
    box-shadow: 3px 2px 3px;
    


    
}
.hover:hover {
    position: relative;
    bottom: 30px; 
    cursor: pointer;
    
}
.pause {
    cursor: pointer;
    position: relative;
    bottom: 30px;

}
 
/* .moveCard {
    
    display: inline-flex;
    position: absolute;
    bottom: 90px;
    right: 280px;

   
      
} */


.playerRevealedCards {

    position: absolute;
    
    display: inline-flex;
    align-items: center;
    bottom: 21.5%;
    
}


.moveCard {
    
}

.moveECard {

}

.enemyRevealedCards {
    position: absolute;
    
    display: inline-flex;
    align-items: center;
    top: 22%;
    
}

.start {
    background: none;
    border: rgb(22, 66, 35) solid 1px;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(236, 232, 232);
    cursor: pointer;
    border-radius: 6px;
    outline: none;
}

.ready {
    position: absolute;
    background: none;
    border: rgb(22, 66, 35) solid 1px;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(236, 232, 232);
    cursor: pointer;
    border-radius: 6px;
    outline: none;
    left: 30%;
    bottom: 30%;
}

.start:hover {
    background-color: rgba(10, 85, 20, 0.418);
    color: #eee;
}
.ready:hover {
    background-color: rgba(10, 85, 20, 0.418);
    color: #eee;
}


.EnemyName {
    position: absolute;
    top: 10%;
    left: 10%;
    border: rgb(22, 66, 35) solid 1px;
    font-size: 2.5rem;
    padding: 20px;
    width: 120px;
    text-align: center;
    text-shadow: rgba(11, 51, 88, 0.274) 2px 8px 3px;
    font-family: FreeMono, monospace;
    border-radius: 30px;
    background-color: rgba(58, 139, 99, 0.582);
    

}

.PlayerName {
    position: absolute;
    bottom: 10%;
    left: 10%;
    border: rgb(22, 66, 35) solid 1px;
    font-size: 2.5rem;
    padding: 20px;
    width: 120px;
    text-align: center;
    text-shadow: rgba(11, 51, 88, 0.274) 2px 8px 3px;
    font-family: FreeMono, monospace;
    border-radius: 30px;
    text-transform: capitalize;
    background-color: rgba(58, 139, 99, 0.582);
}

.currTurn {
    box-shadow: rgb(154, 247, 32) 1px 1px 25px;
    color: #eee;
    border: none;
}


.Pile {
    position: absolute;
    

}