body {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: rgb(218, 255, 249);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background-image: url(image041.jpg);
    background-size: cover;
    height: 125px;
    width: 90px;
    border: rgb(136, 136, 136) solid 1px;
    border-radius: 9px;
    margin: 4px;
}
.playerHiddenCards {
    position: absolute;
    
    display: inline-flex;
    align-items: center;
    bottom: 22%;
    cursor: pointer;
    
}

.enemyHiddenCards {
    position: absolute;
    
    display: inline-flex;
    align-items: center;
    top: 22%;
    
    
    
}
.playersHandCards {
    position: absolute;
    display: inline-flex;
    bottom: 5%;
    
}
.cardsOnTable {
    display: flex;
    position: relative;
   
    justify-content: center;
    height: 100vh;
    width: 70%;
   
    
}
.enemyHandCards {
    position: absolute;
    display: inline-flex;
    top: 5%;
}
.cardsPlace {
    position: absolute;
    top: 42%;
    
    height: 125px;
    width: 90px;
    
    border-radius: 4px;
    margin: 4px;
}
.deck {
    background-image: url(image041.jpg);
    background-size: cover;
    position: absolute;
    right: 0;
    top: 42%;
    height: 125px;
    width: 90px;
    border: rgb(136, 136, 136) solid 1px;
    border-radius: 9px;
    margin: 4px;

}
.cardCounter {
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
    font-size: 2rem;
    position: absolute;
    right: 35px;
    top: 38%;
}
.cardflipped {
    
    border: rgb(136, 136, 136) solid 1px;
    border-radius: 4px;
    height: 125px;
    width: 90px;
    margin: 4px;
    


    
}
.hover:hover {
    position: relative;
    bottom: 30px; 
    cursor: pointer;
    
}
.pause {
    cursor: pointer;
    position: relative;
    bottom: 30px;

}
 
/* .moveCard {
    
    display: inline-flex;
    position: absolute;
    bottom: 90px;
    right: 280px;

   
      
} */


.playerRevealedCards {

    position: absolute;
    
    display: inline-flex;
    align-items: center;
    bottom: 21.5%;
    
}


.moveCard {

}

.moveECard {

}

.enemyRevealedCards {
    position: absolute;
    
    display: inline-flex;
    align-items: center;
    top: 22%;
    
}

.start {
    background: none;
    border: rgb(74, 147, 196) solid 1px;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(47, 130, 185);
    cursor: pointer;
    border-radius: 15px;
    outline: none;
}

.ready {
    position: absolute;
    background: none;
    border: rgb(74, 147, 196) solid 1px;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(47, 130, 185);
    cursor: pointer;
    border-radius: 15px;
    outline: none;
    left: 30%;
    bottom: 30%;
}

.start:hover {
    background-color: rgba(35, 35, 92, 0.418);
    color: #eee;
}
.ready:hover {
    background-color: rgba(35, 35, 92, 0.418);
    color: #eee;
}
